<!DOCTYPE html>
<!--

               __-----_                         ____________
              /  \      \           o  O  O ___(            )____
             /    |  |   \_---_   o _     _(                     )_
            |     |            \   | |---(_      Ohhh, it's       _)
            |     |             |@ | |     (_    private ...     _)
             \___/   ___       /   | |      (__              ___)
               \____(____\___/     | |         (_____________)
               |__|                | |           |
               /   \-_             | |          _|
             /      \_ -__ _       |_|_ __ ____/
            /         -|  |_)       ___\__/_
           |          _|  |) ____  |    ... | 
           _\_____________|_|____|_|________|_ 
          /                                   \
         /_____________________________________\
        /                                       \
       /_________________________________________\
      /                                           \
     /_____________________________________________\
            |                               |
            |_______________________________|
            |                               |
  \|/       |_______________________________|
            |                               | 	     \|/ 
            |_______________________________|   \|/
      \|/                                                  	
                      \|/

-->
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link type="image/x-icon" rel="icon" href="/favicon.ico">
        <link type="image/x-icon" rel="shortcut icon" href="/favicon.ico">
        <!-- Styles -->
        <!-- Bootstrap 4 -->
        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/css/bootstrap.min.css" />
        <!-- End Styles -->
        <title>Leezio / Workspace</title>
    </head>
    <body>
        <!-- Content -->
        <section class="container text-sm-center">
            <div class="row">
                <div class="col-sm-12">
                    <p class="lead">{{ hello }}</p>
                </div>
            </div>
        </section>
        <!-- End Content -->
        <!-- Footer -->
        <!-- End Footer -->
        <!-- Scripts -->
        <!-- jQuery -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- Proper -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.8/umd/popper.min.js"></script>
        <!-- Bootstrap 4 -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
        <!-- End Scripts -->
    </body>
</html>
