body {
  background-color: #f7f7f7;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
  stroke-dasharray: 5;
}

.custom-slider.rzslider .rz-bar {
  background: #999;
  height: 2px;
}
.custom-slider.rzslider .rz-selection {
  background: #999;
}

.custom-slider.rzslider .rz-pointer {
  width: 8px;
  height: 16px;
  top: auto; /* to remove the default positioning */
  bottom: 0;
  background-color: #333;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.custom-slider.rzslider .rz-pointer:after {
  display: none;
}

.custom-slider.rzslider .rz-bubble {
  bottom: 14px;
  color: #5a5a5a;
}

.custom-slider.rzslider .rz-limit {
  color: #5a5a5a;
}

.custom-slider.rzslider .rz-tick {
  width: 1px;
  height: 10px;
  margin-left: 4px;
  border-radius: 0;
  background: #999;
  top: -1px;
}

.custom-slider.rzslider .rz-tick.rz-selected {
  background: #999;
}

.settings-title {
  color: #626e78;
}